$white: #FFF;
$black: #000;
$background: #5c83b4;
$primary: #1b4f8f;
$primaryDark: #120a8f;
$primaryLight: #40e0d0;
$disabledBackground: #222;
$disabledColor: #aaa;
$valid: #4CAF50;
$invalid: #ff0000;