@import "../../styles/colors.scss";

.signupWrap {
  top: 50px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;

  .form {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: $white;
    padding: 40px;
    padding-top: 0%;
    border-radius: 8px;
    align-self: center;
    box-shadow: 0px 1px 3px -1px $black;

    h2 {
      color: $primaryDark;
      text-align: center;
      font-size: 25px;
      text-transform: uppercase;
    }

    button {
      margin-top: 32px;
    }

    .link {
      text-align: center;
      color: $primary;
      text-transform: lowercase;
      margin-top: 16px;
      cursor: pointer;
    }
  }
}